# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/inspectionProfiles/
.idea/lab05.iml
.idea/misc.xml
.idea/modules.xml
allenBriceLab05.gdoc
input.txt
main.py
output.txt
venv/
!/main.py
!/output.txt
!/input.txt
!/allenBriceLab05.gdoc
